COMPOSE_PROJECT_NAME=bovclass_api
COMPOSE_PROFILES=development
IO_SERVER=localhost
IO_PROJECT=bovclass
IO_APP=api
IO_STAGE=development
IO_VERSION=0.23.5-dev.1
IO_DEPLOYER=first.surname@embrapa.br
SENTRY_DSN=GET_IN_DASHBOARD
MATOMO_ID=105
MATOMO_TOKEN=